<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-md-auto">
      <h1><strong>リフレクションノートについて</strong></h1>
    </div>
  </div>

  <div class="row justify-content-md-center mt-5">
    <div class="col-md-auto">
      <h3 class="text-center m-2">
        このサイトでは、事実や経験に対する自分（または他人）の判断や意見を
      </h3>
    </div>

    <div class="col-md-auto m-2">
      <h3 class="text-center text-primary">
        「意見」「経験」「感情」「価値観」
      </h3>
    </div>

    <div class="col-md-auto m-2">
      <h3 class="text-center">
        に切り分けて、可視化するためのノートを作成することができます。
      </h3>
    </div>

    <div class="col-md-auto m-5">
      <h3 class="text-center">それをすることで、これまで気づかなかった自分（または他人）の内側にある思考をより他面的に、そしてより深く知ることができるようになります。</h3>
    </div>

    <div class="col-md-auto m-3">
      <h3 class="text-center">自分の成長や、他人との円滑なコミュニケーションを図るなど、さまざまな場面で役に立つことができるでしょう。</h3>
    </div>

    <div class="col-md-auto m-2">
      <h3 class="text-center">ぜひ活用してみてください！</h3>
    </div>
  </div>

  <div class="row justify-content-md-center mt-4">
    <div class="col-md-auto text-border">
      <p><u>参考:「リフレクション 自分とチームの成長を加速させる内省の技術」/ 著: 熊平美香</u></p>
    </div>
  </div>

</div>


