<div class="container">
  <div class="row justify-content-md-center mt-5">
    <div class="col-md-auto">
      <h1>リフレクションノートについて</h1>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <p>
        このサイトは、「リフレクション 自分とチームの成長を加速させる内省の技術」(著:熊平美香)より<br>
        <strong>メタ認知力(認知していることを認知する力)</strong>を身につけることを目的としたメモアプリです。<br>
        メタ認知力を高めることで、自分の成長や、他者との円滑なコミュニケーションへの一助となります。<br>
        そのためには、事実や経験に対する自分(または他者)の判断や意見を<br>
        <strong>「意見」「経験」「感情」「価値観」</strong>に切り分けて可視化することによって、<br>
        自分(または他者)の内面を他面的に深掘りする必要があります。
      </p>
    </div>

  </div>
</div>


